<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
   <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  <div class="navigate_bar">
    <a href="/view/home">Home</a>
    <a href="/view/info">Info</a>
    <a href="#">Contacts</a>
    <a href="/view/registration">Registration</a>
    <a href="/view/login">Login</a>
  </div>
</header>
<div class="container">
  <div class="home_info">
    <h2>Welcome to mailing service</h2>
    <p>This is service for sending planned messages for clients by email.
        You should register/login yourself and after add/select/edit/delete messages 
        to send to your clients will be available.  You don't need to press the button 
        to send a message. Just enter year, month, day, hours and minutes when message 
        should be send and service will do it automatically.</p>
  </div>
</div>
</body>
</html>
