<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
   <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  <div class="navigate_bar">
    <a href="/view/home">Home</a>
    <a href="#">Info</a>
    <a href="#">Contacts</a>
    <a href="/view/registration">Registration</a>
  </div>
</header>
<div class="container">
  <form th:object="${loginUser}" th:action="@{/view/loginUser}" method="post">
    <p>LOGIN:</p>
    <div>
      <input type="text" id="name" th:field="${loginUser.name}" placeholder="login*" required/>
    </div>
    <div>
      <input type="text" id="password" th:field="${loginUser.password}" placeholder="password*" required/>
    </div>
    <br>
    <button type="submit">login</button>
  </form>
</div>
</body>
</html>