<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notifications by username:</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <div class="navigate_bar">
        <a href="/view/successLoginHome">Home</a>
        <a href="#">Info</a>
        <a href="#">Contacts</a>
        <a href="/view/logout">Logout</a>
    </div>
</header>
<div class="container">
<h1>Notifications</h1>
<ul>
    <li th:each="notification : ${notifications}">
        <span th:text="${notification.id}"></span>
        <span th:text="${notification.address}"></span>
        <span th:text="${notification.title}"></span>
<!--        <a th:href="|@{/notifications/deleteNotification/${notification.id}}|">delete</a>-->


        <!--TODO: mechanic is works well. Need to set style for UI -->

        <form th:action="@{/view/deleteNotification}" method="post">
            <input type="hidden" name="id" th:value="${notification.id}" />
            <input type="submit" value="Delete"/>
        </form>
    </li>
</ul>
</div>
</body>
</html>