<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update notidication</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  <div class="navigate_bar">
    <a href="/view/successLoginHome">Home</a>
    <a href="/view/getAllNotificationsByUsername">All notifications</a>
    <a href="#">Info</a>
    <a href="#">Contacts</a>
    <a href="/view/logout">Logout</a>
  </div>
</header>
<div class="container">
  <div class="form">
    <form class="common_form" th:object="${notificationForUpdate}" th:action="@{/view/updateNotification}" method="post">
          <input type="hidden" th:field="${notificationForUpdate.id}" />
          <input type="hidden" th:field="${notificationForUpdate.username}" />
      <p>ENTER YOUR MESSAGE:</p>
      <div>
        <input type="text" id="address" th:field="${notificationForUpdate.address}" placeholder="email*" required/>
      </div>
      <div>
        <!--            <label for="title">title:</label>-->
        <input type="text" id="title" th:field="${notificationForUpdate.title}" placeholder="title*" required/>
      </div>
      <div>
        <!--            <label for="payload">message:</label>-->
        <textarea type="text" id="payload" th:field="${notificationForUpdate.payload}" placeholder="message*" required></textarea>
      </div>
      <div>
        <!--            <label for="date">date:</label>-->
        <input type="datetime-local" id="date" th:field="${notificationForUpdate.date}" required/>
      </div>
      <br>
      <button class="common_button" type="submit">update notification</button>
    </form>
  </div>
</div>
</body>
</html>